name: Deploy Marketing Suite

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  build-test-deploy:
    uses: Hello-World-Co-Op/.github/.github/workflows/suite-deploy.yml@main
    with:
      suite-name: marketing-suite
      canister-name: marketing_suite_assets
    secrets: inherit
